<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<RadSideDrawer>
    <GridLayout tkDrawerContent rows="56, *" class="sideStackLayout">
	<StackLayout class="sideTitleStackLayout">
	    <Label text="Navigation"></Label>
	</StackLayout>
	<ScrollView row="1">
	    <StackLayout class="sideStackLayout">
		<Label text="Registrieren" (tap)="showLogin()" class="sideLabel"></Label>
		<Label text="Sektion auswählen" [isEnabled]="haveEvent" (tap)="showRegister()" class="sideLabel"></Label>
		<Label text="Punktevergabe" [isEnabled]="zonesSelected" (tap)="showScoring()" class="sideLabel"></Label>
		<Label text="Punktetabelle" [isEnabled]="zonesSelected" (tap)="showTable()" class="sideLabel"></Label>
		<Label text="Protokoll" [isEnabled]="zonesSelected" (tap)="showProtocol()" class="sideLabel"></Label>
	    </StackLayout>
	</ScrollView>
    </GridLayout>
    <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>
